<%- include("partials/header")%>

<div class="container">
	<form class="" action="/compose" method="post">
		<div class="form-group">
			 <label for="inputImage">Image Link</label>
			 <input id="inputImage" class="form-control" placeholder="Image Url..." required autofocus name="imageLink">
		</div>
		<div class="form-group">
		    <label for="exampleFormControlSelect2">Topic (can select mutiple)</label>
		    <select multiple class="form-control" id="exampleFormControlSelect2" name="topicSelect">
		      <option>Guns</option>
		      <option>Artwork</option>
		      <option>Rants</option>
		      <option>Cats</option>
		      <option>Dogs</option>
		    </select>
		  </div>
		<div class="form-group">
			<label for="title">Title</label>
			 <input id="title" class="form-control" placeholder="Title" required autofocus name="title">
		</div>
		<div class="form-group">
			<label for="body">Body</label>
			<textarea class="form-control" id="postBodyArea" rows="4" name="body"></textarea>
		</div>
		<form class="" action="/compose" method="post">
			<button type="submit" class="btn btn-danger">Submit!</button>
		</form>
	</form>
</div>

<%- include("partials/footer")%>