<%- include("partials/header")%>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>XYZ Company Forum!</h1>
			<p>Read and discuss your favorite topics!</p>
			<p>
				<a class = "btn btn-primary btn-lrg" href="/compose">Create New Post</a>
			</p>
		</div>
	</header>
	
	<div class="row" style="border: none;padding-top: 1em;
	padding-bottom: 1em; background-color: #ffc048;">
		<div class="col-md-2">Image</div>
		<div class="col-md-1">Topic</div>
		<div class="col-md-1">Title</div>
		<div class="col-md-1">Author</div>
		<div class="col-md-2">Votes</div>
		<div class="col-md-5">Replies</div>
	</div>
	<div class="row">
		<div class="col-md-2"><img src="<%=startingImage%>" class="img-thumbnail"></div>
		<div class="col-md-1"><%=startingTopic%></div>
		<div class="col-md-1"><%=startingTitle%></div>
		<div class="col-md-1"><%=startingAuthor%></div>
		<div class="col-md-2">
			<i class="far fa-caret-square-up fa-2x"></i>
			<div class="likes"><%=startingLikes%></div>
			<i class="far fa-caret-square-down fa-2x"></i>
		</div>
		<div class="col-md-5"><%=startingReplies%></div>
	</div>
	
	<div class="row">
		<div class="col-md-2"><img src="<%=startingImage2%>" class="img-thumbnail"></div>
		<div class="col-md-1"><%=startingTopic2%></div>
		<div class="col-md-1"><%=startingTitle2%></div>
		<div class="col-md-1"><%=startingAuthor2%></div>
		<div class="col-md-2">
			<i class="far fa-caret-square-up fa-2x"></i>
			<div class="likes"><%=startingLikes2%></div>
			<i class="far fa-caret-square-down fa-2x"></i>
		</div>
		<div class="col-md-5"><%=startingReplies2%></div>
	</div>

	<%posts.forEach(function(post){%>
	<div class="row">
		<div class="col-md-2"><img src="<%=post.image%>" class="img-thumbnail"></div>
		<div class="col-md-1"></div>
		<div class="col-md-1"><%=post.title%></div>
		<div class="col-md-1"><%=startingAuthor2%></div>
		<div class="col-md-2">
			<i class="far fa-caret-square-up fa-2x"></i>
			<div class="likes"><%=defaultLikes%></div>
			<i class="far fa-caret-square-down fa-2x"></i>
		</div>
		<div class="col-md-5">
			<a class = "btn btn-primary btn-lrg" href="/posts/<%=post.title%>">Read Thread</a>
		</div>
	</div>
	<%})%>
	

</div>

<%- include("partials/footer")%>