<%- include("partials/header")%>
<div class="container">
	<div class="thumbnail">
		<img class="image-responsive" src="<%=post.image%>">
	</div>
	<div class="caption-full">
		<h4 class="pull-right">Username</h4>
		<h4><%=post.title%></h4>
		<p><%=post.body%></p>
	</div>
</div>
<%- include("partials/footer")%>