body{
	background-color: #ecf0f1;
}



.footer {
	/*position: absolute;*/
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #ffc048;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  	color: #fff;
}
.row {
	border: 2px solid;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	margin: 10px;
	background-color: ;
}

.likes{
	font-size: 1.5em;
}
